@model IEnumerable<Store_Inventory_Management_System_.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<h2>List of Suppliers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speciality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speciality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink(" Edit", "Edit", "Suppliers", new { id = item.Id }, new { @class = "btn btn-primary fa fa-pencil-square-o" }) |
            @Html.ActionLink(" Details", "Details", "Suppliers", new { id = item.Id }, new { @class = "btn btn-success fa fa-info-circle" }) |
            @Html.ActionLink(" Delete", "Delete", "Suppliers", new { id = item.Id }, new { @class = "btn btn-danger fa fa-trash-o" })
        </td>
    </tr>
}

</table>
